*.log
.DS_Store
node_modules
.cache
dist
.vscode
**/src/**/*.d.ts
**/src/**/*.js
*.map
*.tgz
*.tsbuildinfo
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/versions
.pnp.*
/packages/*/docs/
.tmp
.rollup.cache
.eslintcache
/examples/*/build