*.log
.DS_Store
node_modules
.cache
dist
.vscode
storybook-static
**/src/**/*.d.ts
**/src/**/*.js
*.map
.storybook/**/*.d.ts
*.tgz
*.tsbuildinfo
.yarn
.yarnrc.yml
.pnp.js
/packages/*/docs/
.tmp
.rollup.cache
