name: ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm i -g yarn
      - run: yarn config set checksumBehavior ignore
      - name: Cache Node.js modules
        uses: actions/cache@v2.1.6
        with:
          path: |
            ./.yarn/cache
            ./.yarn/unplugged
          key: ${{ runner.os }}-yarn2-v4-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn2-v4
      - run: yarn install
      - run: yarn clean
      - run: yarn build:packages
      - run: yarn lint
      - run: yarn test:packages --ci --coverage --maxWorkers=2
      - run: yarn docs
      - run: |
          mkdir -p public
          mv packages/docs/build/* public/
          mkdir -p public/api/addons
          mv packages/addons/docs/* public/api/addons/
          mkdir -p public/app
          mv packages/app/dist/* public/app/
          cp packages/react/src/dump/schema* public/
          mkdir -p public/api/bundle
          mv packages/bundle/docs/* public/api/bundle/
          mkdir -p public/api/math
          mv packages/math/docs/* public/api/math/
          mkdir -p public/api/model
          mv packages/model/docs/* public/api/model/
          mkdir -p public/api/plots
          mv packages/plots/docs/* public/api/plots/
          mkdir -p public/api/react
          mv packages/react/docs/* public/api/react/

      - name: Deploy Main
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: upsetjs/actions-gh-pages@sgratzl
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: upsetjs/upsetjs.github.io
          publish_branch: main
          publish_dir: ./public
          enable_jekyll: false
          remove_path_spec: '*,:!integrations/,:!.git*,:!README.md,:!CNAME,:!api/jupyter'

  build_examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.4.0
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'
      - run: npm i -g yarn
      - run: yarn config set checksumBehavior ignore
      - name: Cache Node.js modules
        uses: actions/cache@v2.1.6
        with:
          path: |
            ./.yarn/cache
            ./.yarn/unplugged
          key: ${{ runner.os }}-yarn2-v4-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn2-v4
      - run: yarn install
      - run: yarn clean
      - run: yarn libs
      - run: yarn build:examples
      - run: yarn test:examples --ci --coverage --maxWorkers=2
